div {
  display: flex;
}


.clock-page{
  background: #414141;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clock-page2 {
  background: #414141;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.time{
  flex-direction: column;
  align-items: center;
}

.laps{
  list-style: none;
  color: white;
  font-weight: bold;
  font-size: 40px;
}


.clock-button {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  background: #ccc;
  cursor: pointer;
}

.clock-button:hover{
  background: #eee;
}


.Timer-page{
 background: #414141;
 color: white;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 font-size: 40px;
 font-weight: bold;
}


.Timer-page>input{
 border: none;
 z-index: 1;
 text-align: center;
 border: none;
 outline: none;
 background-color: transparent;
 color: white;
 font-size: 40px;
 font-weight: bold;
}

.Timer-page>input::-webkit-inner-spin-button,
.Timer-page>input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}


